@{
    ViewBag.Title = "Aggregate attractions by date";
}

<div class="row">
    <div class="col-md-12">
        <h2>Attractions aggregate</h2>
        <p>
            Select attractions and set start date and end date to obtain the average wait times.
        </p>
    </div>
</div>
<div class="section">
    <attractions-aggregate></attractions-aggregate>
</div>

