@{
    ViewBag.Title = "Attractions Page";
}

<div class="jumbotron">
    <h1>Disney API</h1>
    <p class="lead">Diseny Api Attractions.</p>   
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Attractions with current wait time</h2>
        <p>
           We are getting the last information about the state of all attractions of Disneyland Paris Park.
        </p>        
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Attractions List</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 container-list">       
        <attractions-list template="list"></attractions-list>
    </div>
</div>