@{
    ViewBag.Title = "Attractions Page";
}

<div class="jumbotron">
    <h2>Disney API Attractions</h2>
    <p>We are getting the last information about the state of all attractions of Disneyland Paris Park.</p>   
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Attractions List</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12 container-list">       
        <attractions-list template="list"></attractions-list>
    </div>
</div>